@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');
// font weight 300,400,500,600
$jost: 'Jost', sans-serif;

// colors
$palegold: #fbffa7;
$plum: #d5b3ff;
$coral: #ff764d;
$powderblue: #b6ffc0;
$lightblue: #b1c5ff;
$blue: #0000ff;

// breakpoints
$screen-sm-max: 468px; // mobile

$screen-md-max: 768px; // tablets

$screen-lg-max: 1180px; // large screens

$screen-xl-min: 1180px; // extra large screens
