// https://khaledkzy.github.io/pixel-vh-vw-converter/

// ===== images ===== \\
@mixin sm-img {
  position: absolute;
  width: 33vw; // 400px
  height: 25vw;
  object-fit: cover; // object fit only works when both width and height property are applied
}
@mixin lg-img {
  position: absolute;
  width: 43vw;
  height: 42vw;
  object-fit: cover;
}

// https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2

// ===== media queries ===== \\

// mobile
@mixin sm {
  @media screen and (max-width: #{($screen-sm-max)}) {
    @content;
  }
}
// tablets
@mixin md {
  @media screen and (max-width: #{($screen-md-max)}) {
    @content;
  }
}
// large screens
@mixin lg {
  @media screen and (max-width: #{($screen-lg-max)}) {
    @content;
  }
}
// extra large screens 
@mixin xl {
  @media screen and (min-width: #{($screen-xl-min)}) {
    @content;
  }
}