@import "_mixins.scss";
@import "_functions.scss";

.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.grid{
  display: grid;
}
.wrapper{
  padding: 0 2rem;
}
.chevron{
  position: relative;
  margin-left: 7px;
  margin-top: rem(9);

  @include lg {
    margin-top: rem(6.5);
  }
  &::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 3.5px;
    background-color: #000;
    top: 0;
    transform: skewX(40deg);
  }
  &::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 3.5px;
    background-color: #000;
    top: 3px;
    transform: skewX(-40deg);
  }
}

